<% @title= "Thorson Sign-In Portal" %>
<%= content_for :head do %>
  <style>
    .close {
      color:#fff;
    }
    .close:hover {
      color:#d96557;
    }
  </style>
  <%#= stylesheet_link_tag 'checkbo/css/checkBo.min.css', 'data-turbolinks-track' => true %>
<% end %>

<div class="app layout-fixed-header bg-dark-dark usersession">
  <div class="full-height">
    <div class="center-wrapper">
      <div class="center-content">
        <div class="row no-margin">
          <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{class:'form-layout', role:'form' }) do |f| %>
              <%= render partial: 'users/shared/alerts' %>

              <div class="text-center mb15">
                <%= image_tag "logo_thorson.png", width:'100%' %>
              </div>

              <p class="text-center mb30">Welcome. Please sign in to your account.</p>

              <div class="form-inputs">
                <%= f.text_field :email, autofocus: true, placeholder:'Username', class:'form-control input-lg' %>
                <%= f.password_field :password, autocomplete: 'off', placeholder:'Password', class:'form-control input-lg' %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <%= f.check_box :remember_me %> Remember Me
              <% end -%>

              <%= f.submit "Sign In", class:'btn btn-success btn-block btn-lg mb15' %>

              <p class="text-left">By clicking sign in, you agree to our <a href="javascript:;">Terms of services &amp; Policies</a>.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :js_includes do %>
  <%#= javascript_include_tag 'checkbo/js/checkBo.min.js', 'data-turbolinks-track' => true %>
<% end %>
