<table id="ded-factor" class="table table-bordered bordered table-striped table-condensed dataTable">
  <thead>
    <tr>
      <!--<th>Model</th>
      <th>PK</th>-->
      <th>Deductible</th>
      <th>Factor</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Deductible</th>
      <th>Factor</th>
      <th>Actions</th>
    </tr>
  </tfoot>
  <tbody>
    <% @ded_factors.each  do |factor| %>
      <tr>
        <!--<td>DedFactor</td>
        <td><%#= factor.id %></td>-->
        <td><%= factor.deductible %></td>
        <td><%= factor.factor %></td>
        <td>
          <%- if true#@acct.manager? %>
            <a href="javascript:;" class="edit btn btn-warning mr15" data-model="DedFactor" data-pk="<%= factor.id %>">Edit</a>
            <%#  %>
            <%= link_to "Delete", destroy_factor_path(model: "DedFactor", id: factor.id),
            method: :delete, class: "delete btn btn-danger", remote: true,
            data: { confirm: "Are you sure you'd like to delete this factor?",
              model: 'DedFactor', pk: factor.id } %>
          <% else %>
            <a href="javascript:;" class="btn btn-warning mr15" disabled>Edit</a>
            <a href="javascript:;" class="btn btn-danger" disabled>Delete</a>
          <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= content_for :js_includes do %>
  <script>
    var ded_table_ready = function() {
      'use strict';

      var nEditing = null;
      var oTable;

      oTable = $('#ded-factor').dataTable();

      $('#ded_f .toolbar').append('<a id=\'new\' href=\'javascript:;\' class=\'btn btn-info mb15 ml15\' >Add new row</a>');

      function restoreRow(oTable, nRow, model, pk) {
        var aData = oTable.fnGetData(nRow);
        var jqTds = $('>td', nRow);

        for (var i = 0, iLen = jqTds.length; i < iLen; i++) {
          oTable.fnUpdate(aData[i], nRow, i, false);
        }

        oTable.fnDraw();
      }

      function editRow(oTable, nRow, model, pk) {
        var aData = oTable.fnGetData(nRow);
        var jqTds = $('>td', nRow);
        jqTds[0].innerHTML = '<input type=\'number\' class=\'form-control\' value=\'' + aData[0] + '\'>';
        jqTds[1].innerHTML = '<input type=\'number\' class=\'form-control\' value=\'' + aData[1] + '\'>';
        //jqTds[2].innerHTML = '<input type=\'text\' class=\'form-control\' value=\'' + aData[2] + '\'>';
        //jqTds[3].innerHTML = '<input type=\'text\' class=\'form-control\' value=\'' + aData[3] + '\'>';
        //jqTds[4].innerHTML = '<input type=\'text\' class=\'form-control\' value=\'' + aData[4] + '\'>';
        jqTds[2].innerHTML = "<a href='javascript:;' class='edit btn btn-success mr15' data-model='"+model+"' data-pk='"+pk+"'>Save</a>";
      }

      function saveRow(oTable, nRow, model, pk) {
        var jqInputs = $('input', nRow);
        oTable.fnUpdate(jqInputs[0].value, nRow, 0, false);
        oTable.fnUpdate(jqInputs[1].value, nRow, 1, false);
        var buttonHtml = "<a href='javascript:;' class='edit btn btn-warning mr15' data-model='"+model+"' data-pk='"+pk+"'>Edit</a>"+
        "<a class='delete btn btn-danger' data-confirm='Are you sure you'd like to delete this factor?' data-model='"+ model + "' data-pk='"+pk+"' data-remote='true' rel='nofollow' data-method='delete' href='/factors/"+model+"/"+pk+"'>Delete</a>"
        oTable.fnUpdate(buttonHtml, nRow, 2, false);

        $.ajax({
          url: "factors/"+model+"/"+pk,
          type: "PATCH",
          data: {
            model: model,
            id: pk,
            factor: {
              deductible: jqInputs[0].value,
              factor: jqInputs[1].value
            }
          }
        });

        //"<%#= link_to 'Delete', destroy_factor_path(model: 'DedFactor', id: factor.id), method: :delete, class: 'delete btn btn-danger', remote: true, data: { confirm: 'Are you sure you\'d like to delete this factor?', model: 'DedFactor', pk: factor.id } %> "
        //oTable.fnUpdate(jqInputs[2].value, nRow, 2, false);
        //oTable.fnUpdate(jqInputs[3].value, nRow, 3, false);
        //oTable.fnUpdate(jqInputs[4].value, nRow, 4, false);

        oTable.fnDraw();

      }

      /*$('#new').on('click', function (e) {
        e.preventDefault();

        var aiNew = oTable.fnAddData(['', '', '', '', '',
                    '<a class=\'edit\' href=\'\'>Edit</a>', '<a class=\'delete\' href=\'\'>Delete</a>']);
        var nRow = oTable.fnGetNodes(aiNew[0]);
        editRow(oTable, nRow);
        nEditing = nRow;
      });*/

      /* Remove row on delete */
      $('#ded-factor').on('ajax:success', 'a.delete', function(e, data, status, xhr){
        var nRow = $(this).parents('tr')[0];
        oTable.fnDeleteRow(nRow);
      }).on('ajax:error', function(e, xhr, status, error){
        console.log('error');
      });

      $('#ded-factor').on('click', 'a.edit', function (e) {
        e.preventDefault();

        /* Get the row as a parent of the link that was clicked on */
        var nRow = $(this).parents('tr')[0];
        var model = $(this).data('model');
        var pk = $(this).data('pk');

        if (nEditing !== null && nEditing !== nRow) {
          /* Currently editing - but not this row - restore the old before continuing to edit mode */
          restoreRow(oTable, nEditing, model, pk);
          editRow(oTable, nRow, model, pk);
          nEditing = nRow;
        } else if (nEditing === nRow && this.innerHTML === 'Save') {
          /* Editing this row and want to save it */
          saveRow(oTable, nEditing, model, pk);
          nEditing = null;
        } else {
          /* No edit in progress - let's start one */
          editRow(oTable, nRow, model, pk);
          nEditing = nRow;
        }
        return false;
      });
    };

    $('document').ready(ded_table_ready);
  </script>
<% end %>
