<%= content_for :head do %>
  <%= stylesheet_link_tag 'datatables/css/jquery.dataTables.css', 'data-turbolinks-track' => true %>

  <style>

  .tab-content.outer-content {
    padding-left:0;
    padding-top:5px;

    /*border-top: #ccc 1px solid;*/
  }

  </style>
<% end %>


<ol class="breadcrumb no-bg">
  <li>
    <h3>Factors & Rates Console</h3>
  </li>
</ol>

<div class="row mb25">
  <div class="col-md-12">
    <div class="box-tab justified">
      <ul class="nav nav-tabs" id="rf-tabs">
        <li class="active">
          <a href="#factors" data-toggle="tab">Factors</a>
        </li>
        <li>
          <a href="#rates" data-toggle="tab">Rates</a>
        </li>
      </ul>
      <div class="tab-content no-bg outer-content">
        <div class="tab-pane active in" id="factors">
          <div class="row mb15">
            <div class="col-md-12">
              <div class="box-tab left">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#ded_f" data-toggle="tab">Deductible Factors</a></li>
                  <li><a href="#entity_f" data-toggle="tab">Entity Factors</a></li>
                  <li><a href="#limit_f" data-toggle="tab">Limit Factors</a></li>
                  <li><a href="#step_f" data-toggle="tab">Step Factors</a></li>
                  <li><a href="#territory_f" data-toggle="tab">Territory Factors</a></li>
                  <li><a href="#spec_f" data-toggle="tab">Specialty Factors</a></li>
                  <li><a href="#risk_f" data-toggle="tab">Risk Factors</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active in" id="ded_f">
                    <table class="rate-factor table table-bordered bordered table-striped table-condensed dataTable">
                      <thead>
                        <tr>
                          <th>Deductible</th>
                          <th>Factor</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Deductible</th>
                          <th>Factor</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% @ded_factors.each  do |factor| %>
                          <tr>
                            <td><%= factor.deductible %></td>
                            <td><%= factor.factor %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane" id="entity_f">
                    <table class="rate-factor table table-bordered bordered table-striped table-condensed dataTable">
                      <thead>
                        <tr>
                          <th>Entity</th>
                          <th>Factor</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Entity</th>
                          <th>Factor</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% @entity_factors.each  do |factor| %>
                          <tr>
                            <td><%= factor.entity ? "Yes" : "No" %></td>
                            <td><%= factor.factor %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane" id="limit_f">
                    <table class="rate-factor table table-bordered bordered table-striped table-condensed dataTable">
                      <thead>
                        <tr>
                          <th>Limit</th>
                          <th>State</th>
                          <th>Factor</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Limit</th>
                          <th>State</th>
                          <th>Factor</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% @limit_factors.each  do |factor| %>
                          <tr>
                            <td><%= factor.limit %></td>
                            <td><%= factor.state %></td>
                            <td><%= factor.factor %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane" id="step_f">
                    <table class="rate-factor table table-bordered bordered table-striped table-condensed dataTable">
                      <thead>
                        <tr>
                          <th>Policy Year</th>
                          <th>State</th>
                          <th>Factor</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Policy Year</th>
                          <th>State</th>
                          <th>Factor</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% @step_factors.each  do |factor| %>
                          <tr>
                            <td><%= factor.policy_year %></td>
                            <td><%= factor.state %></td>
                            <td><%= factor.factor %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane" id="territory_f">
                    <table class="rate-factor table table-bordered bordered table-striped table-condensed dataTable">
                      <thead>
                        <tr>
                          <th>Territory</th>
                          <th>Exposure</th>
                          <th>Number</th>
                          <th>State</th>
                          <th>Factor</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Territory</th>
                          <th>Exposure</th>
                          <th>Number</th>
                          <th>State</th>
                          <th>Factor</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% @territory_factors.each  do |factor| %>
                          <tr>
                            <td><%= factor.territory %></td>
                            <td><%= factor.exposure %></td>
                            <td><%= factor.number %></td>
                            <td><%= factor.state %></td>
                            <td><%= factor.factor %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane" id="spec_f">
                    <table class="rate-factor table table-bordered bordered table-striped table-condensed dataTable">
                      <thead>
                        <tr>
                          <th>Specialty Name</th>
                          <th>Specialty Surgery</th>
                          <th>Specialty Class</th>
                          <th>Specialty Code</th>
                          <th>State</th>
                          <th>Factor</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Specialty Name</th>
                          <th>Specialty Surgery</th>
                          <th>Specialty Class</th>
                          <th>Specialty Code</th>
                          <th>State</th>
                          <th>Factor</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% @spec_factors.each  do |factor| %>
                          <tr>
                            <td><%= factor.spec_name %></td>
                            <td><%= factor.spec_surgery %></td>
                            <td><%= factor.spec_class %></td>
                            <td><%= factor.spec_code %></td>
                            <td><%= factor.state %></td>
                            <td><%= factor.factor %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane" id="risk_f">
                    <table class="rate-factor table table-bordered bordered table-striped table-condensed dataTable">
                      <thead>
                        <tr>
                          <th>Criteria</th>
                          <th>Minimum Factor</th>
                          <th>Maximum Factor</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Criteria</th>
                          <th>Minimum Factor</th>
                          <th>Maximum Factor</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% @risk_factors.each  do |factor| %>
                          <tr>
                            <td><%= factor.criteria %></td>
                            <td><%= factor.min_factor %></td>
                            <td><%= factor.max_factor %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="rates">
          <div class="row mb15">
            <div class="col-md-12">
              <div class="box-tab left">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#nas_r" data-toggle="tab">NAS Rates</a></li>
                  <li><a href="#base_r" data-toggle="tab">Base Rates</a></li>
                  <li><a href="#allied_r" data-toggle="tab">Allied Rates</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active in" id="nas_r">
                    <table class="rate-factor table table-bordered bordered table-striped table-condensed dataTable">
                      <thead>
                        <tr>
                          <th>Limit</th>
                          <th>Rate</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Limit</th>
                          <th>Rate</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% @nas_rates.each  do |rate| %>
                          <tr>
                            <td><%= rate.limit %></td>
                            <td><%= rate.rate %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane" id="base_r">
                    <table class="rate-factor table table-bordered bordered table-striped table-condensed dataTable">
                      <thead>
                        <tr>
                          <th>State</th>
                          <th>Rate</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>State</th>
                          <th>Rate</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% @base_rates.each  do |rate| %>
                          <tr>
                            <td><%= rate.state %></td>
                            <td><%= rate.rate %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane" id="allied_r">
                    <table class="rate-factor table table-bordered bordered table-striped table-condensed dataTable">
                      <thead>
                        <tr>
                          <th>Group</th>
                          <th>Constituents</th>
                          <th>Rate</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Group</th>
                          <th>Constituents</th>
                          <th>Rate</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% @allied_rates.each  do |rate| %>
                          <tr>
                            <td><%= rate.group.capitalize %></td>
                            <td><%= rate.constituents.join(', ') %></td>
                            <td><%= rate.rate %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= content_for :js_includes do %>
  <%= javascript_include_tag 'datatables/js/jquery.dataTables.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap-datatables.js', 'data-turbolinks-track' => true %>

  <script>
  $('document').ready(function() {
    'use strict';

    $('.rate-factor').dataTable({  });

  });

  </script>
<% end %>
