<%= content_for :head do %>
  <%= stylesheet_link_tag 'datatables/css/jquery.dataTables.css', 'data-turbolinks-track' => true %>

  <style>
    .tab-content.outer-content {
      padding-left:0;
      padding-top:5px;
    }
  </style>
<% end %>


<ol class="breadcrumb no-bg">
  <li>
    <h3>Factors & Rates Console</h3>
  </li>
</ol>

<div class="row mb25">
  <div class="col-md-12">
    <div class="box-tab justified">
      <ul class="nav nav-tabs" id="rf-tabs">
        <li class="active">
          <a href="#factors" data-toggle="tab">Factors</a>
        </li>
        <li>
          <a href="#rates" data-toggle="tab">Rates</a>
        </li>
      </ul>
      <div class="tab-content no-bg outer-content">
        <div class="tab-pane active in" id="factors">
          <div class="row mb15">
            <div class="col-md-12">
              <div class="box-tab left">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#ded_f" data-toggle="tab">Deductible Factors</a></li>
                  <li><a href="#entity_f" data-toggle="tab">Entity Factors</a></li>
                  <li><a href="#limit_f" data-toggle="tab">Limit Factors</a></li>
                  <li><a href="#step_f" data-toggle="tab">Step Factors</a></li>
                  <li><a href="#territory_f" data-toggle="tab">Territory Factors</a></li>
                  <li><a href="#spec_f" data-toggle="tab">Specialty Factors</a></li>
                  <li><a href="#risk_f" data-toggle="tab">Risk Factors</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active in" id="ded_f">
                    <%= render partial: 'factors/factor_tables/ded_factor' %>
                  </div>
                  <div class="tab-pane" id="entity_f">
                    <%= render partial: 'factors/factor_tables/entity_factor' %>
                  </div>
                  <div class="tab-pane" id="limit_f">
                    <%= render partial: 'factors/factor_tables/limit_factor' %>
                  </div>
                  <div class="tab-pane" id="step_f">
                    <%= render partial: 'factors/factor_tables/step_factor' %>
                  </div>
                  <div class="tab-pane" id="territory_f">
                    <%= render partial: 'factors/factor_tables/territory_factor' %>
                  </div>
                  <div class="tab-pane" id="spec_f">
                    <%= render partial: 'factors/factor_tables/specialty_factor' %>
                  </div>
                  <div class="tab-pane" id="risk_f">
                    <%= render partial: 'factors/factor_tables/risk_factor' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="rates">
          <div class="row mb15">
            <div class="col-md-12">
              <div class="box-tab left">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#nas_r" data-toggle="tab">NAS Rates</a></li>
                  <li><a href="#base_r" data-toggle="tab">Base Rates</a></li>
                  <li><a href="#allied_r" data-toggle="tab">Allied Rates</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active in" id="nas_r">
                    <%= render partial: 'factors/factor_tables/nas_rate' %>
                  </div>
                  <div class="tab-pane" id="base_r">
                    <%= render partial: 'factors/factor_tables/base_rate' %>
                  </div>
                  <div class="tab-pane" id="allied_r">
                    <%= render partial: 'factors/factor_tables/allied_rate' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= content_for :js_includes do %>
  <%= javascript_include_tag 'datatables/js/jquery.dataTables.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap-datatables.js', 'data-turbolinks-track' => true %>

  <%#= javascript_include_tag 'table-edit.js', 'data-turbolinks-track' => true %>
<% end %>
