<%= content_for :head do %>
  <%= stylesheet_link_tag 'chosen_v1.4.0/chosen.min.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootstrap-datepicker/dist/css/bootstrap-datepicker3.css', 'data-turbolinks-track' => true %>
<% end %>

<!-- main area -->
<div class="main-content">
  <div class="panel mb25">
    <div class="panel-heading border">
      <h4>Create New Broker Account</h4>
    </div>
    <div class="panel-body">
      <div class="row no-margin">
        <div class="col-lg-12">
            <%= form_for(@broker_acct, html: {class:'form-horizontal bordered-group', role:'form'}) do |f| %>
              <% if @broker_acct.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@broker_acct.errors.count, "error") %> prohibited this broker from being saved:</h2>

                  <ul>
                    <% @broker_acct.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="form-group">
                <label class="col-sm-2 control-label">Brokerage Name</label>
                <div class="col-sm-10">
                  <%= f.text_field :name, class:'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Brokerage Code</label>
                <div class="col-sm-10">
                  <%= f.text_field :code, class:'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Contact Name</label>
                <div class="col-sm-10">
                  <%= f.text_field :contact_name, class:'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Contact Email</label>
                <div class="col-sm-10">
                  <%= f.email_field :email, class:'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Contact Phone</label>
                <div class="col-sm-10">
                  <%= f.phone_field :phone, class:'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Street Address</label>
                <div class="col-sm-10">
                  <%= f.text_field :street, class:'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">City</label>
                <div class="col-sm-10">
                  <%= f.text_field :city, class:'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">State (e.g. CA)</label>
                <div class="col-sm-10">
                  <%= f.text_field :state, class:'form-control' %>
                  <p class="help-block">Two Letter Abbreviation (e.g. CA)</p>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Zip Code</label>
                <div class="col-sm-10">
                  <%= f.text_field :zip, class:'form-control' %>
                </div>
              </div>

              <div class="actions text-center">
                <%= f.submit "Save Information", class:'btn btn-success btn-lg' %>
              </div>

            <% end %>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /main area -->




<%= content_for :js_includes do %>
  <%= javascript_include_tag 'chosen_v1.4.0/chosen.jquery.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap-datepicker/js/bootstrap-datepicker.js', 'data-turbolinks-track' => true %>
<% end %>
