<%= content_for :head do %>
  <%= stylesheet_link_tag 'chosen_v1.4.0/chosen.min.css', 'data-turbolinks-track' => true %>
<% end %>

<div class="panel mb25">
  <div class="panel-heading border">
    <h4>Create Your New Broker Account</h4>
  </div>
  <div class="panel-body">
    <div class="row no-margin">
      <div class="col-lg-10 col-lg-offset-1">
        <%= form_for(@acct, html: {class:'form-horizontal bordered-group', role:'form'}) do |f| %>
          <% if @acct.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@acct.errors.count, "error") %> prohibited this broker from being saved:</h2>

              <ul>
                <% @acct.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <p>Account Information</p>
            <div class="row">
              <div class="col-sm-5">
                  <%= f.text_field :name, class:'form-control', placeholder:'Brokerage Name' %>
              </div>
              <div class="col-sm-5 col-sm-offset-2">
                  <%= f.text_field :code, class:'form-control', placeholder:'Brokerage Code' %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <p>Contact Information</p>
            <div class="col-sm-6 col-sm-offset-3 mb10">
              <%= f.text_field :contact_name, class:'form-control', placeholder:'Contact Name' %>
            </div>

            <div class="row">
              <div class="col-sm-5">
                <%= f.email_field :email, class:'form-control', placeholder:'Contact Email Address (or blank if same as login)' %>
              </div>
              <div class="col-sm-5  col-sm-offset-2">
                <%= f.telephone_field :phone, class:'form-control', placeholder:'Contact Phone Number' %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <p>Address Information</p>
            <div class="col-sm-6 col-sm-offset-3 mb10">
              <%= f.text_field :street, class:'form-control', placeholder:'Street Address' %>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <%= f.text_field :city, class:'form-control', placeholder:'City' %>
              </div>

              <div class="col-sm-4">
                <%= f.select :state, options_for_select(us_states), {include_blank: true}, { class:'chosen', style:'width:100%;', 'data-placeholder':'State' } %>
              </div>
              <div class="col-sm-4">
                <%= f.text_field :zip, class:'form-control' %>
              </div>
            </div>
          </div>

          <div class="actions text-center">
            <%= f.submit "Save Information", class:'btn btn-success btn-lg' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= content_for :js_includes do %>
  <%= javascript_include_tag 'chosen_v1.4.0/chosen.jquery.min.js', 'data-turbolinks-track' => true %>
  <script>

    $('document').ready(function() {
      'use strict';

      $('.chosen').chosen();
    });
  </script>
<% end %>
