<%= content_for :head do %>
  <%= stylesheet_link_tag 'x-editable/bootstrap3-editable/css/bootstrap-editable.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'x-editable/inputs-ext/address/address.css', 'data-turbolinks-track' => true %>
<% end %>

<!-- main area -->
<div class="main-content">
  <div class="panel mb25">
    <div class="panel-heading border">
      <h4>Create New Broker Account</h4>
    </div>
    <div class="panel-body">
      <div class="row no-margin">
        <div class="col-lg-10 col-lg-offset-1">

            <%#= form_for(@broker_acct, html: {class:'form-horizontal bordered-group', role:'form'}) do |f| %>
            <form id="broker" class="form-horizontal bordered-group" role="form">
              <% if @broker_acct.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@broker_acct.errors.count, "error") %> prohibited this broker from being saved:</h2>

                  <ul>
                    <% @broker_acct.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="form-group">
                <label class="col-sm-2 control-label">Brokerage Name</label>
                <div class="col-sm-10">
                  <%= link_to @broker_acct.name, "#", id:'name',
                  class: "form-control editable editable-click", style: "display: inline;",
                    data: { url: "/broker_accts/#{@broker_acct.id}", pk: "#{@broker_acct.id}",
                    title: "Enter Brokerage Name", type: "text" } %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Brokerage Code</label>
                <div class="col-sm-10">
                  <%= f.text_field :code, class:'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Contact Name</label>
                <div class="col-sm-10">
                  <%= f.text_field :contact_name, class:'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Contact Email</label>
                <div class="col-sm-10">
                  <%= f.email_field :email, class:'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Contact Phone</label>
                <div class="col-sm-10">
                  <%= f.phone_field :phone, class:'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Street Address</label>
                <div class="col-sm-10">
                  <%= f.text_field :street, class:'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">City</label>
                <div class="col-sm-10">
                  <%= f.text_field :city, class:'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">State (e.g. CA)</label>
                <div class="col-sm-10">
                  <%= f.text_field :state, class:'form-control' %>
                  <p class="help-block">Two Letter Abbreviation (e.g. CA)</p>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Zip Code</label>
                <div class="col-sm-10">
                  <%= f.text_field :zip, class:'form-control' %>
                </div>
              </div>
            </form>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /main area -->

<%= content_for :js_includes do %>
  <%= javascript_include_tag 'x-editable/bootstrap3-editable/js/bootstrap-editable.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'x-editable/inputs-ext/address/address.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'broker-x-editable.js', 'data-turbolinks-track' => true %>
<% end %>
