<%= content_for :head do %>
  <%= stylesheet_link_tag 'x-editable/bootstrap3-editable/css/bootstrap-editable.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'x-editable/inputs-ext/address/address.css', 'data-turbolinks-track' => true %>
<% end %>

<div class="panel mb25">
  <div class="panel-heading border">
    <h4>My Broker Account Profile</h4>
  </div>
  <div class="panel-body">
    <div class="row no-margin">
      <div class="col-lg-10 col-lg-offset-1">
        <form id="broker" class="form-horizontal bordered-group" role="form">

          <div class="form-group">
            <p>Account Information</p>
            <div class="row">
              <div class="col-sm-5">
                <%= link_to @broker_acct.name, "#", id:'name',
                class: "form-control editable editable-click", style: "display: inline;",
                  data: { url: "/broker_accts/#{@broker_acct.id}", pk: "#{@broker_acct.id}",
                  title: "Enter Brokerage Name", type: "text" } %>
              </div>
              <div class="col-sm-5 col-sm-offset-2">
                <%= link_to @broker_acct.code, "#", id:'code',
                class: "form-control editable editable-click", style: "display: inline;",
                  data: { url: "/broker_accts/#{@broker_acct.id}", pk: "#{@broker_acct.id}",
                  title: "Enter Brokerage Code", type: "text" } %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <p>Contact Information</p>
            <div class="col-sm-6 col-sm-offset-3 mb10">
              <%= link_to @broker_acct.contact_name, "#", id:'contact_name',
              class: "form-control editable editable-click", style: "display: inline;",
                data: { url: "/broker_accts/#{@broker_acct.id}", pk: "#{@broker_acct.id}",
                title: "Enter Contact Name", type: "text" } %>
            </div>

            <div class="row">
              <div class="col-sm-5">
                <%= link_to @broker_acct.email, "#", id:'email',
                class: "form-control editable editable-click", style: "display: inline;",
                  data: { url: "/broker_accts/#{@broker_acct.id}", pk: "#{@broker_acct.id}",
                  title: "Enter Contact Email Address", type: "text" } %>
              </div>
              <div class="col-sm-5  col-sm-offset-2">
                <%= link_to @broker_acct.phone, "#", id:'phone',
                class: "form-control editable editable-click", style: "display: inline;",
                  data: { url: "/broker_accts/#{@broker_acct.id}", pk: "#{@broker_acct.id}",
                  title: "Enter Contact Phone Number", type: "text" } %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <p>Address Information</p>
            <div class="col-sm-6 col-sm-offset-3 mb10">
              <%= link_to @broker_acct.street, "#", id:'street',
              class: "form-control editable editable-click", style: "display: inline;",
                data: { url: "/broker_accts/#{@broker_acct.id}", pk: "#{@broker_acct.id}",
                title: "Enter Street", type: "text" } %>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <%= link_to @broker_acct.city, "#", id:'city',
                class: "form-control editable editable-click", style: "display: inline;",
                  data: { url: "/broker_accts/#{@broker_acct.id}", pk: "#{@broker_acct.id}",
                  title: "Enter City", type: "text" } %>
              </div>

              <div class="col-sm-4">
                <%= link_to @broker_acct.state, "#", id:'state',
                class: "form-control editable editable-click", style: "display: inline;",
                  data: { url: "/broker_accts/#{@broker_acct.id}", pk: "#{@broker_acct.id}",
                  title: "Enter State", type: "text" } %>
              </div>
              <div class="col-sm-4">
                <%= link_to @broker_acct.zip, "#", id:'zip',
                class: "form-control editable editable-click", style: "display: inline;",
                  data: { url: "/broker_accts/#{@broker_acct.id}", pk: "#{@broker_acct.id}",
                  title: "Enter Zip Code", type: "text" } %>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%= content_for :js_includes do %>
  <%= javascript_include_tag 'x-editable/bootstrap3-editable/js/bootstrap-editable.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'x-editable/inputs-ext/address/address.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'broker-x-editable.js', 'data-turbolinks-track' => true %>
<% end %>
