<!DOCTYPE html>
<html>
<head>
  <title>Thorson Portal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :head %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta charset="UTF-8">
  <meta name="description" content="Thorson Group Insurance Dashboard" />
  <meta name="keywords" content="thorson,group,thorsongroup,insurance,dashboard" />
  <meta name="author" content="Marmar-is" />

  <!-- Font -->
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:300,400,700', 'data-turbolinks-track' => true %>

  <style>
    div.vcc {
      position: absolute;
      top: 50%;
      margin-top: -150px;/* half of #content height*/
      left: 0;
      width: 100%;
    }
    div.panel {
      color:#555;
    }
    div.panel-heading {
      font-size:16px;
    }
  </style>
</head>
<body class="bg-success-dark">

  <div class="layout-fixed-footer">
    <!-- main area -->
    <div class="vcc">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 mb30">
          <%= image_tag "logo_thorson.png", width:'100%' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-offset-2 pb15">
          <%= link_to new_account_session_path do %>
          <div class="panel">
            <div class="panel-heading text-center border">
              Broker Sign In
            </div>
            <div class="panel-body">
              Use your Thorson Broker credentials to access our Broker Portal.
            </div>
          </div>
          <% end %>
        </div>

        <div class="col-md-3 col-md-offset-2 pb15">
          <%= link_to new_account_session_path do %>
          <div class="panel">
            <div class="panel-heading text-center border">
              Employee Sign In
            </div>
            <div class="panel-body">
              Use your Thorson Employee credentials to access our Employee Console.
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <%= render partial: 'layouts/footer' %>
    </div>
  </div>

  <%= javascript_include_tag 'bootstrap/js/bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.easing/jquery.easing.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'perfect-scrollbar/js/perfect-scrollbar.jquery.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'accordion', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'animate', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'link-transition', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'panel-controls', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'preloader', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'toggle', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'urban-constants', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'lib', 'data-turbolinks-track' => true %>

  <%= yield :js_includes %>

  <script>

  </script>

</body>

<div>
  <%= debug(params) if Rails.env.development? %>
</div>

</html>
