<div class="chat-group-header">

</div>
<div class="actions pl5 pr5">
  <%- if current_account.employee? && @acct.underwriter? %>

    <%- if @risk_profile.submitted? %>
      <%= button_to "Accept Risk", update_status_risk_profile_path(new_status: "accepted", for: "risk_profile"), class:'btn btn-success', method: :patch, remote: true, disabled:  !@risk_profile.submitted? %>
      <%= button_to "Decline Risk", update_status_risk_profile_path(new_status: "declined", for: "risk_profile"), class:'btn btn-danger', method: :patch, remote: true, disabled:  !@risk_profile.submitted?  %>
    <% end -%>

    <%- if @risk_profile.accepted? && !@risk_profile.ratings.last.determined? %>
      <%= button_to "Determine Rating", update_status_risk_profile_path(new_status: "determined", for: "rating"), class:'btn btn-info', method: :patch, remote: true, disabled:  (!@risk_profile.accepted? || @risk_profile.ratings.last.determined?) %>
    <% end -%>

    <%- if !@risk_profile.submitted? %>
      <%= button_to "Submit Risk", update_status_risk_profile_path(new_status: "submitted", for: "risk_profile"), class:'btn btn-warning', method: :patch, remote: true, disabled:  @risk_profile.submitted?  %>
    <% end -%>

  <% elsif current_account.broker? %>

    <%- if @risk_profile.submitted? %>
      <%= button_to "Withdraw Risk", update_status_risk_profile_path(new_status: "withdrawn", for: "risk_profile"), class:'btn btn-danger', method: :patch, remote: true, disabled:  !@risk_profile.submitted? %>
    <% end -%>

  <% end -%>

  <hr />
</div>
