<%= content_for :head do %>
  <style>
    .accordion-title {
      padding: 5px;
      font-size:14px;
      border-radius:2px;
    }

    .accordion-body {
      padding: 5px;
      padding-left:10px;
    }

  </style>
<% end %>

<div class="row">
  <div class="col-md-3 pt10 pb10 bg-white round">
    <%- @risk_profile.attributes.each do |k, v| %>
      <div class="row">
        <div class="col-md-4">
          <%= k %>
        </div>
        <div class="col-md-7 col-md-offset-1">
          <%= v %>
        </div>
      </div>
    <% end -%>
  </div>
  <div class="col-md-9 cool-md-offset-1">
    <div class="accordion accordion-toggle">
      <!-- object -->
      <%- (@risk_profile.ratings*2).each do |rating| %>
        <div class="accordion-container mb30">
          <!-- rating -->
          <div class="accordion-title bg-white">
            <a href="javascript:;" class="bold">
              Rating
              <span class="pull-right text-info">
                (Accepted <%= rating.created_at.strftime("%b %d, %Y") %>)
              </span>
            </a>
          </div>
          <div class="accordion-body bg-white bt">
            <%- rating.attributes.each do |k, v| %>
              <div class="row">
                <div class="col-md-4">
                  <%= k %>
                </div>
                <div class="col-md-7 col-md-offset-1">
                  <%= v %>
                </div>
              </div>
            <% end -%>
          </div>
          <!-- /rating -->

          <div class="pt10"></div>

          <!-- quotes -->
          <%- rating.quotes.each do |quote| %>
            <div class="accordion-title bg-white ml5">
              <a href="javascript:;" class="bold">
                Quote
                <span class="pull-right text-info">
                  (Issued Jul 15, 2015<%#= quote.created_at.strftime("%b %d, %Y") %>)
                </span>
              </a>
            </div>
            <div class="accordion-body bg-white bt ml5">
              <%- quote.attributes.each do |k, v| %>
                <div class="row">
                  <div class="col-md-4">
                    <%= k %>
                  </div>
                  <div class="col-md-7 col-md-offset-1">
                    <%= v %>
                  </div>
                </div>
              <% end -%>
            </div>
            <div class="pt5"></div>
          <% end -%>
          <!-- /quotes -->

          <div class="pt5"></div>

          <!-- policy -->
          <div class="accordion-title bg-white">
            <a href="javascript:;" class="bold">
              Policy
              <span class="pull-right text-info">
                (Bound Jul 15, 2015<%#= quote.created_at.strftime("%b %d, %Y") %>)
              </span>
            </a>
          </div>
          <div class="accordion-body bg-white bt">
            <p class="text-info">No Policy has been issued for this rating.</p>
          </div>
          <!-- /policy -->

        </div>

        <hr style="border-color:#ccc;"/>
      <% end -%>
      <!-- /object -->
    </div>
  </div>
</div>
