<%= content_for :head do %>
  <%= stylesheet_link_tag 'chosen_v1.4.0/chosen.min.css', 'data-turbolinks-track' => true %>
  <%#= stylesheet_link_tag 'x-editable/bootstrap3-editable/css/bootstrap-editable.css', 'data-turbolinks-track' => true %>
  <style>
    .accordion-title {
      padding: 5px;
      font-size:14px;
      border-radius:2px;
    }

    .accordion-body {
      padding: 5px;
      padding-left:10px;
    }

    .new-quote {
      border-width:2px;
    }
  </style>
<% end %>

<div class="row">
  <div class="col-md-3 pt10 pb10 bg-white round">
    <%- @risk_profile.attributes.each do |k, v| %>
      <div class="row">
        <div class="col-md-4">
          <%= k %>
        </div>
        <div class="col-md-7 col-md-offset-1">
          <%= v %>
        </div>
      </div>
    <% end -%>
  </div>
  <div class="col-md-9 cool-md-offset-1">
    <div class="accordion accordion-toggle">
      <!-- object -->
      <%- @risk_profile.ratings.each do |rating| %>
        <div class="accordion-container mb30">
          <!-- rating -->
          <div class="accordion-title bg-white rating-title">
            <a href="javascript:;" class="bold">
              Rating Year <%= rating.policy_year %>
              <span class="pull-right text-info">
                (<%= rating.status.capitalize + " " + rating.status_date.strftime("%b %d, %Y") %>)
              </span>
            </a>
          </div>
          <div class="accordion-body bg-white bt rating">
            <%= render partial: "risk_profiles/show/rating_#{rating.status}", locals: { rating: rating } %>

            <%- rating.attributes.each do |k, v| %>
              <div class="row">
                <div class="col-md-4">
                  <%= k %>
                </div>
                <div class="col-md-7 col-md-offset-1">
                  <%= v %>
                </div>
              </div>
            <% end -%>
          </div>
          <!-- /rating -->

          <div class="pt10"></div>

          <!-- quotes -->
          <%- rating.quotes.each do |quote| %>
            <div class="accordion-title bg-white ml10">
              <a href="javascript:;" class="bold">
                Quote
                <span class="pull-right text-info">
                  <%- if quote.created? %>
                    (Saved <%= quote.created_at.strftime("%b %d, %Y") %>)
                  <% elsif quote.issued? %>
                    (Issued  <%= quote.issue_date.strftime("%b %d, %Y") %>)
                  <% else %>
                    (<%= quote.status.capitalize + " " + quote.status_date.strftime("%b %d, %Y") %>)
                  <% end -%>
                </span>
              </a>
            </div>
            <div class="accordion-body bg-white bt ml10">
              <%- if !quote.created? %>
                <%= link_to  "View", view_quote_risk_profile_path(quote_id: quote.id), class:'btn btn-default', 'data-no-turbolink' => true %>
              <% end -%>

              <%- quote.attributes.each do |k, v| %>
                <div class="row">
                  <div class="col-md-4">
                    <%= k %>
                  </div>
                  <div class="col-md-7 col-md-offset-1">
                    <%= v %>
                  </div>
                </div>
              <% end -%>
            </div>
            <div class="pt5"></div>
          <% end -%>
          <!-- /quotes -->

          <!-- new-quote -->
          <%- if current_account.employee? && rating == @risk_profile.ratings.last && rating.determined? && rating.quotes.any? && !rating.quotes.last.created? %>
          <div class="new-quote bt bl br bb accordion-title no-bg ml10">
            <a href="javascript:;" class="bold">
              +
              <span class="pull-right text-info">
                (New Quote)
              </span>
            </a>
          </div>
          <div class="new-quote accordion-body no-bg bl br bb ml10">
            <%= render partial: 'risk_profiles/show/create_quote', locals: { rating: rating } %>
          </div>
          <div class="pt5"></div>
          <% end -%>
          <!-- /new-quote -->

          <div class="pt5"></div>

          <!-- policy -->
          <div class="accordion-title bg-white">
            <a href="javascript:;" class="bold">
              Policy
              <span class="pull-right text-info">
                (Bound Jul 15, 2015<%#= quote.created_at.strftime("%b %d, %Y") %>)
              </span>
            </a>
          </div>
          <div class="accordion-body bg-white bt">
            <p class="text-info">No Policy has been issued for this rating.</p>
          </div>
          <!-- /policy -->

        </div>

        <hr style="border-color:#ccc;"/>
      <% end -%>
      <!-- /object -->
    </div>
  </div>
</div>
<%= content_for :js_includes do %>
  <%= javascript_include_tag 'chosen_v1.4.0/chosen.jquery.min.js', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'x-editable/bootstrap3-editable/js/bootstrap-editable.js', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'rating-x-editable.js', 'data-turbolinks-track' => true %>
<% end %>
