<%= form_tag(update_rating_risk_profile_path(id: @risk_profile, rating_id: rating.id), method: :patch, remote: false) do %>

  <!-- rating fields -->
  <%= fields_for :rating do |f| %>
    <div class="row pt15 mb25">
      <div class="col-md-6">
        <div class="row pl10 pr10">
          <div class="col-md-8 pr0">
            <input type="text" class="form-control" value="Capital Included?" readonly>
          </div>
          <div class="col-md-4 pl0">
            <%= f.select :capital, options_for_select([['Yes', true], ['No', false]], rating.capital), {}, {class:'form-control btn btn-info', value: 'No'} %>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb25">
      <div class="col-md-6">
        <div class="row pl10 pr10">
          <div class="col-sm-12">
            <%= f.number_field :capital_contribution, class:'form-control', placeholder: "Capital Contribution (Currently #{number_to_currency(rating.capital_contribution)})" %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row pl10 pr10">
          <div class="col-sm-12">
            <%= f.number_field :nas_premium, class:'form-control', placeholder: "NAS Premium (Currently #{number_to_currency(rating.nas_premium)})" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb25">
      <div class="col-md-6">
        <div class="row pl10 pr10">
          <div class="col-sm-12">
            <%= f.number_field :allied_premium, class:'form-control', placeholder: "Allied Premium (Currently #{number_to_currency(rating.allied_premium)})" %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row pl10 pr10">
          <div class="col-sm-12">
            <%= f.number_field :fairway_premium, class:'form-control', placeholder: "Fairway Premium (Currently #{number_to_currency(rating.fairway_premium)})" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb25">
      <div class="col-md-6">
        <div class="row pl10 pr10">
          <div class="col-sm-12">
            <%= f.number_field :physician_premium, class:'form-control', placeholder: "Physician Premium (Currently #{number_to_currency(rating.physician_premium)})" %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row pl10 pr10">
          <div class="col-sm-12">
            <%= f.number_field :total_premium, class:'form-control', placeholder: "Total Premium (Currently #{number_to_currency(rating.total_premium)})" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <!-- /rating fields -->

  <!-- risk-factors -->
  <%= fields_for :rfs do |f| %>
    <%- RiskFactor.all.each do |rf| %>
    <div class="row rf-row">
      <div class="col-md-4">
        <div class="row pl10 pr10">
          <div class="col-sm-12">
            <%= rf.criteria %>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        Factor:
        <label id="<%= 'rf-label-' + rf.id.to_s %>" style="border:0; color:#f6931f; font-weight:bold;">
          <%= rating.risk_factors[rf.criteria] || rf.min_factor %>
        </label>
      </div>
      <div class="col-md-6">
        <div class="row pl10 pr10">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-md-3">
                <label>
                  Min:
                  <span class="min-max-label"><%= rf.min_factor %></span>
                </label>
              </div>
              <div class="col-md-3 col-md-offset-6">
                <label>
                  Max:
                  <span class="min-max-label"><%= rf.max_factor %></span>
                </label>
              </div>
            </div>

            <div id="<%= rf.id %>" class="slider" data-value="<%= rating.risk_factors[rf.criteria]  || rf.min_factor %>" data-step="0.01" data-min="<%= rf.min_factor %>" data-max="<%= rf.max_factor %>"></div>
            <%= f.hidden_field "#{rf.criteria}", value: (rating.risk_factors[rf.criteria]  || rf.min_factor), id: "#{rf.id}_rf_val" %>
          </div>
        </div>
      </div>
    </div>
    <% end -%>
  <% end %>
  <!-- /risk-factors -->

  <div class="row mt30">
    <div class="col-md-12">
      <%= submit_tag "Modify Rating", class:'btn btn-success btn-block' %>
    </div>
  </div>
<% end %>

<%= content_for :js_includes do %>
  <script>
    /* activate chosen on rating open */
    $('.accordion-title.rating-title > a').on('click', function(){
      $('.rating .chosen').chosen({
        width: "100%",
      });
    });

    provisional_rating();

  </script>
<% end %>
