<%= content_for :head do %>
  <%= stylesheet_link_tag 'chosen_v1.4.0/chosen.min.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootstrap-datepicker/dist/css/bootstrap-datepicker3.css', 'data-turbolinks-track' => true %>
<% end %>

<%= form_for(@risk_profile) do |f| %>
<% if @risk_profile.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@risk_profile.errors.count, "error") %> prohibited this risk_profile from being saved:</h2>

  <ul>
    <% @risk_profile.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel mb25">
          <div class="panel-heading border">
            Location
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12 mb25">
                <p>State</p>
                <%= f.select :state, options_for_select(us_states), {include_blank: true}, { class:'chosen', style:'width:100%;', 'data-placeholder':'State' } %>
              </div>

              <div class="col-xs-12 mb25">
                <p>County</p>
                <%= f.select :territory, options_for_select([]), {include_blank: true}, { class:'chosen', style:'width:100%;', 'data-placeholder':'Select a State First' } %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="panel mb25">
          <div class="panel-heading border">
            Coverage Period
          </div>
          <div class="panel-body m15">
            <div class="col-xs-12 coverage-period">
              <div class="input-prepend input-group">
                <span class="add-on input-group-addon">
                  Effective Date
                  <i class="fa fa-calendar"></i>
                </span>
                <%= f.text_field :effective, class:'form-control', 'data-provide':'datepicker' %>
              </div>
            </div>

            <div class="col-xs-12 coverage-period">
              <div class="input-prepend input-group">
                <span class="add-on input-group-addon">
                  Retroactive Date
                  <i class="fa fa-calendar-o"></i>
                </span>
                <%= f.text_field :retro, class:'form-control', 'data-provide':'datepicker' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel mb25">
      <div class="panel-heading border">
        Exposures
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 mb25">
            <p>Name</p>
            <span class="col-xs-10">
              <%= f.text_field :name, class:'form-control', placeholder:'John Doe' %>
            </span>
            <span class="col-xs-2">
              <%= select_tag :suffix, options_for_select([ "M.D.", "D.O." ]), class:'form-control btn btn-info' %>
            </span>
          </div>

          <div class="col-xs-12 mb25">
            <p>Specialty</p>
            <%= f.select :specialty, options_for_select(@spec_names), {include_blank: true}, { class:'chosen', style:'width:100%;', 'data-placeholder':'Select Specialty' } %>
          </div>

          <div class="col-xs-12 mb25">
            <p>Allied Staff</p>
            <%- AlliedRate.all.each do |ar| %>
            <div class="row">
              <div class="col-xs-5">
                <%= ar.constituents.join(", ") %>
              </div>
              <div class="col-xs-7">
                <div class="input-group input-group-lg mb25">
                  <%= f.text_field ar.group.downcase.to_sym, class:'form-control input-lg spinner-ar' %>
                </div>
              </div>
            </div>
            <% end -%>
            <%- if AlliedRate.all.empty? %>
              <p>No Allied Staff Rates.</p>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb25">
  <div class="col-sm-12">
    <div class="panel mb25">
      <div class="panel-heading border">
        Liabilities
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <div class="col-xs-3">
              Deductible
            </div>
            <div class="col-xs-9">
              <div class="input-group input-group-lg mb25">
                <%= f.text_field :deductible, class:'form-control input-lg spinner-ded' %>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <p>Entity Coverage?</p>
            <label class="switch mb15">
              <%= f.check_box :entity, checked: true %>
              <span>
                <i class="handle"></i>
              </span>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <p>Limit</p>
            <%= f.select :limit, options_for_select(@limits), {}, { class:'chosen', style:'width:100%;', 'data-placeholder':'Limit' } %>
          </div>

          <div class="col-xs-6">
            <p>NAS Limit</p>
            <%= f.select :limit_nas, options_for_select(@nases), {include_blank: 'Forego NAS'}, { class:'chosen', style:'width:100%;', 'data-placeholder':'NAS Limit' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="actions text-center">
  <%= f.submit "Submit Quote", class:'btn btn-success btn-lg' %>
</div>

<% end %>

<%= content_for :js_includes do %>
  <%= javascript_include_tag 'chosen_v1.4.0/chosen.jquery.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap-datepicker/js/bootstrap-datepicker.js', 'data-turbolinks-track' => true %>

  <script>
  $('document').ready(function() {
    'use strict';
    $('.chosen').chosen();

    $('[data-provide=datepicker]').datepicker({format: 'yyyy-mm-dd'});

    $('.spinner-ar').TouchSpin({
      initval: 0,
      buttondown_class: 'btn btn-success',
      buttonup_class: 'btn btn-success'
    });

    $('.spinner-ded').TouchSpin({
      initval: 0,
      step: 5000,
      max: "<%= DedFactor.maximum(:deductible) %>",
      buttondown_class: 'btn btn-info',
      buttonup_class: 'btn btn-info'
    });

    $('#risk_profile_state').on('change', function(){
      var us_counties_by_state =
      {
        "CA": {
          "": "",
          "Alameda": "Alameda",
          "Alpine": "Alpine",
          "Amador": "Amador",
          "Butte": "Butte",
          "Calaveras": "Calaveras",
          "Colusa": "Colusa",
          "Contra Costa": "Contra Costa",
          "Del Norte": "Del Norte",
          "El Dorado": "El Dorado",
          "Fresno": "Fresno",
          "Glenn": "Glenn",
          "Humboldt": "Humboldt",
          "Imperial": "Imperial",
          "Inyo": "Inyo",
          "Kern": "Kern",
          "Kings": "Kings",
          "Lake": "Lake",
          "Lassen": "Lassen",
          "Los Angeles": "Los Angeles",
          "Madera": "Madera",
          "Marin": "Marin",
          "Mariposa": "Mariposa",
          "Mendocino": "Mendocino",
          "Merced": "Merced",
          "Modoc": "Modoc",
          "Mono": "Mono",
          "Monterey": "Monterey",
          "Napa": "Napa",
          "Nevada": "Nevada",
          "Orange": "Orange",
          "Placer": "Placer",
          "Plumas": "Plumas",
          "Riverside": "Riverside",
          "Sacramento": "Sacramento",
          "San Benito": "San Benito",
          "San Bernardino": "San Bernardino",
          "San Diego": "San Diego",
          "San Francisco: City": "San Francisco: City",
          "San Joaquin": "San Joaquin",
          "San Luis Obispo": "San Luis Obispo",
          "San Mateo": "San Mateo",
          "Santa Barbara": "Santa Barbara",
          "Santa Clara": "Santa Clara",
          "Santa Cruz": "Santa Cruz",
          "Shasta": "Shasta",
          "Sierra": "Sierra",
          "Siskiyou": "Siskiyou",
          "Solano": "Solano",
          "Sonoma": "Sonoma",
          "Stanislaus": "Stanislaus",
          "Sutter": "Sutter",
          "Tehama": "Tehama",
          "Trinity": "Trinity",
          "Tulare": "Tulare",
          "Tuolumne": "Tuolumne",
          "Ventura": "Ventura",
          "Yolo": "Yolo",
          "Yuba": "Yuba"
        },
        "AZ": {
          "": "",
          "Testy": "Testy"
        }
      };

      var new_options = us_counties_by_state[$("#risk_profile_state").val()];

      /* Remove all options from the select list */
      $('#risk_profile_territory').empty();

      /* Insert the new ones from the array above */
      $.each(new_options, function(key, value) {
        $('#risk_profile_territory')
        .append($("<option></option>")
        .attr("value",key)
        .text(value));
      });

      /* Change placeholder and update Chosen Select */
      $("#risk_profile_territory").attr("data-placeholder","Select a County");
      $('#risk_profile_territory').trigger("chosen:updated");
    });


  });

  </script>
<% end %>
