<%= content_for :head do %>
  <%= stylesheet_link_tag 'datatables/css/jquery.dataTables.css', 'data-turbolinks-track' => true %>
<% end %>

<div class="panel">
  <div class="panel-heading border">
    <ol class="breadcrumb mb0 no-padding">
      <li>
        <h3>
          <%- if current_account.broker? %>
            My Risk Profiles
          <% elsif current_account.employee? %>
            All Risk Profiles
          <% end -%>
        </h3>
      </li>
    </ol>
  </div>
  <div class="panel-body">
    <table id="risk_profiles" class="table table-bordered bordered table-striped table-condensed datatable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Territory</th>
          <th>State</th>
          <th>Effective</th>
          <th>Retro</th>
          <th>Sub specialty</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>Territory</th>
          <th>State</th>
          <th>Effective</th>
          <th>Retro</th>
          <th>Sub specialty</th>
        </tr>
      </tfoot>

      <tbody>
        <% @risk_profiles.each do |risk_profile| %>
          <tr>
            <td><%= risk_profile.name %></td>
            <td><%= risk_profile.territory %></td>
            <td><%= risk_profile.state %></td>
            <td><%= risk_profile.effective %></td>
            <td><%= risk_profile.retro %></td>
            <td><%= risk_profile.sub_specialty %></td>
              <%if false%>
              <td><%= link_to 'Show', risk_profile %></td>
              <td><%= link_to 'Edit', edit_risk_profile_path(risk_profile) %></td>
              <td><%= link_to 'Destroy', risk_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%- if current_account.broker? %>
      <div class="text-center">
        <%= link_to 'New Risk Profile', new_risk_profile_path, class:'btn btn-info btn-lg' %>
      </div>
    <% end -%>
  </div>
</div>



<%= content_for :js_includes do %>
  <%= javascript_include_tag 'datatables/js/jquery.dataTables.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap-datatables.js', 'data-turbolinks-track' => true %>

  <script>
  $('document').ready(function() {
    'use strict';

    $('#risk_profiles').dataTable({  });

  });

  </script>
<% end %>
