<%= content_for :head do %>
  <style>
    .chat-panel,
    .chat-panel .chat-inner .chat-users {
      background: rgba(14, 85, 63, 0.2)!important;
    }

    .chat-panel .actions form {
      width:60%;
      margin: 15px auto 5px auto;
    }

    .chat-panel .actions form input.btn {
      width:100%;
    }

    .chat-panel .actions form input.btn:hover {
      /*border-color:#000;*/
    }

    /*
    .chat-panel .actions form input.btn[disabled]{
      color: #333;
      opacity:1;
      -webkit-box-shadow:150px 0px 0px 0px rgba(0,0,0,0.5) inset;
      -moz-box-shadow:150px 0px 0px 0px rgba(0,0,0,0.5) inset;
      -ms-box-shadow:150px 0px 0px 0px rgba(0,0,0,0.5) inset;
      -o-box-shadow:150px 0px 0px 0px rgba(0,0,0,0.5) inset;
      box-shadow:150px 0px 0px 0px rgba(0,0,0,0.5) inset;

    }
    */

  </style>
<% end %>

<ol class="breadcrumb no-bg pl0 mb0">
  <li>
    <h3 id="risk_profile_title" class="mb0 mt0">Risk Overview: <%= @risk_profile.name %></h3>
  </li>
</ol>

<div id="withdrawn-alert" class="alert alert-danger text-center <%= 'hide' if !@risk_profile.withdrawn? %>">
  <h2>This Risk Profile has been <u>Withdrawn</u> by Broker!</h2>
</div>

<div class="row mb15">
  <div class="col-sm-12">
    <div class="box-tab">
      <div class="tab-content no-bg">
        <div class="tab-pane active in" id="overview">
          <%= render partial: 'risk_profiles/show/overview' %>
        </div>

        <div class="tab-pane" id="profile">
          <%= render partial: 'risk_profiles/show/profile' %>
        </div>

        <div class="tab-pane" id="interactions">
          <%= render partial: 'risk_profiles/show/interactions' %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- chat -->
<div class="chat-panel">
  <div class="chat-inner">
    <div class="chat-users">
      <div class="nav-justified-xs">
        <ul class="nav nav-tabs nav-justified ">
          <li class="active" id="overview-tab">
            <a href="#overview" data-toggle="tab">Overview</a>
          </li>
          <li id="profile-tab">
            <a href="#profile" data-toggle="tab">Profile</a>
          </li>
          <li id="interactions-tab">
            <a href="#interactions" data-toggle="tab">Interactions</a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane active">
          <div id="actions" class="chat-group">
            <%= render partial: 'risk_profiles/show/actions' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /chat -->

<%= content_for :js_includes do %>
  <script>
    $('document').ready(function() {
      'use strict';

      /* change page title when changing tab */
      $('#overview-tab').on('click', function(){
        var new_title = $('#risk_profile_title').text().split(' ');
        new_title[1] = "Overview:";
        $('#risk_profile_title').text(new_title.join(' '));
      });

      $('#profile-tab').on('click', function(){
        var new_title = $('#risk_profile_title').text().split(' ');
        new_title[1] = "Profile:";
        $('#risk_profile_title').text(new_title.join(' '));
      });

      $('#interactions-tab').on('click', function(){
        var new_title = $('#risk_profile_title').text().split(' ');
        new_title[1] = "Interactions:";
        $('#risk_profile_title').text(new_title.join(' '));
      });

      /* open contextual action menu on page load */
      $('#contextual-menu-toggle').trigger('click');

    });
  </script>
<% end %>
