<%= content_for :head do %>
  <%#= stylesheet_link_tag 'datatables/css/jquery.dataTables.css', 'data-turbolinks-track' => true %>
<% end %>

<div class="row">
  <div class="col-sm-3">
    <div class="profile-sidebar">
      <div class="profile-sidebar-item profile-avatar">
        <%= image_tag "logo_thorson_block_text.png", alt: "", class:'img-rounded' %>
      </div>
      <div class="profile-sidebar-item profile-info">
        <span class="h5 bold">Samuel Perkins</span>
        <p>Web Developer</p>
        <div class="w150 center-block mt10">
          <button class="btn btn-danger btn-block">
            <span>Send a message</span>
          </button>
        </div>
      </div>

      <hr>

      <ul class="profile-sidebar-item profile-numbers-count">
        <li>
          <span class="bold">9854</span> followers
        </li>
        <li>
          <span class="bold">7964</span> following
        </li>
      </ul>

      <hr>

      <div class="profile-sidebar-item profile-bio">
        <small class="bold text-uppercase">About</small>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.</p>
      </div>

      <hr>

      <div class="profile-sidebar-item profile-reccomendations">
        <small class="bold text-uppercase">Reccomendations</small>
        <ul class="user-meta">
          <li>
            <a href="javascript:;">All stream</a>
          </li>
          <li>
            <a href="javascript:;">Connected Apps</a>
          </li>
          <li>
            <a href="javascript:;">Photos</a>
          </li>
          <li>
            <a href="javascript:;">Most recent</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="col-sm-9">

    <section class="profile-timeline composer">
      <textarea placeholder="What's on your mind" rows="3" class="form-control"></textarea>

      <div class="composer-options">
        <button class="btn btn-default btn-sm" type="button">
          <i class="fa fa-map-marker"></i>
        </button>
        <button class="btn btn-default btn-sm" type="button">
          <i class="fa fa-image"></i>
        </button>
        <button class="btn btn-default btn-sm" type="button">
          <i class="fa fa-video-camera"></i>
        </button>
        <button class="btn btn-default btn-sm" type="button">
          <i class="fa fa-clock-o"></i>
        </button>
      </div>
    </section>

    <section class="profile-timeline">
      <div class="profile-timeline-header">
        <a href="#" class="profile-timeline-user">
          <img src="images/avatar.jpg" alt="" class="img-circle">
        </a>
        <div class="profile-timeline-user-details">
          <a href="#" class="bold">Samuel Perkins</a>
          <br>
          <em class="text-success small">Submitted a new post</em>
        </div>
      </div>
      <div class="profile-timeline-content">
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
        <div class="profile-timeline-controls">
          <a class="pull-right" href="javascript:;">
            <i class="fa fa-share-alt mr5"></i>
          </a>
          <a class="mr15" href="javascript:;">
            <i class="fa fa-heart mr5"></i>Like
          </a>
          <a href="javascript:;">
            <i class="fa fa-comment mr5"></i>Comment
          </a>
        </div>
      </div>
    </section>

    <section class="profile-timeline">
      <div class="profile-timeline-header">
        <a href="#" class="profile-timeline-user">
          <img src="images/avatar.jpg" alt="" class="img-circle">
        </a>
        <div class="profile-timeline-user-details">
          <a href="#" class="bold">Samuel Perkins</a>
          <br>
          <em class="text-danger small">Added 4 new pictures</em>
        </div>
      </div>
      <div class="profile-timeline-content">
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>

        <div class="profile-timeline-images clearfix">
          <a href="javascript:;" class="image-link-smaller">
            <img src="http://placeimg.com/400/300?1" alt="" class="img-responsive">
          </a>
          <a href="javascript:;" class="image-link-smaller">
            <img src="http://placeimg.com/400/300?2" alt="" class="img-responsive">
          </a>
          <a href="javascript:;" class="image-link-smaller">
            <img src="http://placeimg.com/400/300?3" alt="" class="img-responsive">
          </a>
          <a href="javascript:;" class="image-link-smaller">
            <img src="http://placeimg.com/400/300?4" alt="" class="img-responsive">
          </a>
        </div>

        <div class="profile-timeline-controls">
          <a class="pull-right" href="javascript:;">
            <i class="fa fa-share-alt mr5"></i>
          </a>
          <a class="mr15" href="javascript:;">
            <i class="fa fa-heart mr5"></i>Like
          </a>
          <a href="javascript:;">
            <i class="fa fa-comment mr5"></i>Comment
          </a>
        </div>

      </div>
    </section>

    <section class="profile-timeline">
      <div class="profile-timeline-header">
        <a href="#" class="profile-timeline-user">
          <img src="images/avatar.jpg" alt="" class="img-circle">
        </a>
        <div class="profile-timeline-user-details">
          <a href="#" class="bold">Samuel Perkins</a>
          <br>
          <em class="text-warning small">is listening to the Evantonites</em>
        </div>
      </div>
      <div class="profile-timeline-content">
        <div class="profile-timeline-audio clearfix">
          <div class="audio">
            <div class="fa fa-pause play_pause"></div>
            <div class="audio-timeline">
              <span class="progress">
                        <span class="done"></span>
              </span>
            </div>
            <div class="time">01:24</div>
          </div>
        </div>
        <div class="profile-timeline-controls">
          <a class="pull-right" href="javascript:;">
            <i class="fa fa-share-alt mr5"></i>
          </a>
          <a class="mr15" href="javascript:;">
            <i class="fa fa-heart mr5"></i>Like
          </a>
          <a href="javascript:;">
            <i class="fa fa-comment mr5"></i>Comment
          </a>
        </div>
      </div>
    </section>

    <section class="profile-timeline">
      <div class="profile-timeline-header">
        <a href="#" class="profile-timeline-user">
          <img src="images/avatar.jpg" alt="" class="img-circle">
        </a>
        <div class="profile-timeline-user-details">
          <a href="#" class="bold">Samuel Perkins</a>
          <br>
          <em class="text-info small">created an album collection</em>
        </div>
      </div>
      <div class="profile-timeline-content">
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>

        <div class="profile-timeline-images clearfix">
          <a href="javascript:;" class="image-link">
            <img src="http://placeimg.com/400/300?5" alt="" class="img-responsive">
          </a>
          <a href="javascript:;" class="image-link-smaller">
            <img src="http://placeimg.com/400/300?6" alt="" class="img-responsive">
          </a>
          <a href="javascript:;" class="image-link-smaller">
            <img src="http://placeimg.com/400/300?7" alt="" class="img-responsive">
          </a>
          <a href="javascript:;" class="image-link">
            <img src="http://placeimg.com/400/150?8" alt="" class="img-responsive">
          </a>
        </div>

        <div class="profile-timeline-controls">
          <a class="pull-right" href="javascript:;">
            <i class="fa fa-share-alt mr5"></i>
          </a>
          <a class="mr15" href="javascript:;">
            <i class="fa fa-heart mr5"></i>Like
          </a>
          <a href="javascript:;">
            <i class="fa fa-comment mr5"></i>Comment
          </a>
        </div>

        <div class="post-comments">
          <div class="media">
            <a class="pull-left" href="javascript:;">
              <img class="media-object avatar" src="images/face3.jpg" alt="">
            </a>
            <div class="comment">
              <div class="comment-author heading-font">
                <a href="javascript:;">
                    Jane Doe
                    <time datetime="2015-09-01" class="time">September 1st, 2015</time>
                </a>
              </div>
              <p>Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.</p>
              <hr>
            </div>
            <div class="media">
              <a class="pull-left" href="javascript:;">
                <img class="media-object avatar" src="images/avatar.jpg" alt="">
              </a>
              <div class="comment">
                <div class="comment-author heading-font">
                  <a href="javascript:;">
                        Jane Doe
                        <time datetime="2015-09-02" class="time">September 2nd, 2015</time>
                    </a>
                </div>
                <p>Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<% if false %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @risk_profile.name %>
</p>

<p>
  <strong>County:</strong>
  <%= @risk_profile.county %>
</p>

<p>
  <strong>State:</strong>
  <%= @risk_profile.state %>
</p>

<p>
  <strong>Effective:</strong>
  <%= @risk_profile.effective %>
</p>

<p>
  <strong>Retro:</strong>
  <%= @risk_profile.retro %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @risk_profile.specialty %>
</p>

<p>
  <strong>Deductible:</strong>
  <%= @risk_profile.deductible %>
</p>

<p>
  <strong>Limits:</strong>
  <%= @risk_profile.limit %>
</p>

<p>
  <strong>Limit nas:</strong>
  <%= @risk_profile.limit_nas %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @risk_profile.entity %>
</p>

<p>
  <strong>Allied1:</strong>
  <%= @risk_profile.allied1 %>
</p>

<p>
  <strong>Allied2:</strong>
  <%= @risk_profile.allied2 %>
</p>

<p>
  <strong>Allied3:</strong>
  <%= @risk_profile.allied3 %>
</p>

<p>
  <strong>Sub specialty:</strong>
  <%= @risk_profile.sub_specialty %>
</p>

<%= link_to 'Edit', edit_risk_profile_path(@risk_profile) %> |
<%= link_to 'Back', risk_profiles_path %>
<% end %>


<%= content_for :js_includes do %>
  <%#= javascript_include_tag 'datatables/js/jquery.dataTables.js', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'bootstrap-datatables.js', 'data-turbolinks-track' => true %>

  <%#= javascript_include_tag 'table-edit.js', 'data-turbolinks-track' => true %>
<% end %>
