<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @risk_profile.name %>
</p>

<p>
  <strong>County:</strong>
  <%= @risk_profile.county %>
</p>

<p>
  <strong>State:</strong>
  <%= @risk_profile.state %>
</p>

<p>
  <strong>Effective:</strong>
  <%= @risk_profile.effective %>
</p>

<p>
  <strong>Retro:</strong>
  <%= @risk_profile.retro %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @risk_profile.specialty %>
</p>

<p>
  <strong>Deductible:</strong>
  <%= @risk_profile.deductible %>
</p>

<p>
  <strong>Limits:</strong>
  <%= @risk_profile.limit %>
</p>

<p>
  <strong>Limit nas:</strong>
  <%= @risk_profile.limit_nas %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @risk_profile.entity %>
</p>

<p>
  <strong>Allied1:</strong>
  <%= @risk_profile.allied1 %>
</p>

<p>
  <strong>Allied2:</strong>
  <%= @risk_profile.allied2 %>
</p>

<p>
  <strong>Allied3:</strong>
  <%= @risk_profile.allied3 %>
</p>

<p>
  <strong>Sub specialty:</strong>
  <%= @risk_profile.sub_specialty %>
</p>

<%= link_to 'Edit', edit_risk_profile_path(@risk_profile) %> |
<%= link_to 'Back', risk_profiles_path %>
