<!DOCTYPE html>
<html>
<head>
  <title><%= title(@title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= yield :head %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta charset="UTF-8">
  <meta name="description" content="Thorson Group Insurance Dashboard" />
  <meta name="keywords" content="thorson,group,thorsongroup,insurance,dashboard" />
  <meta name="author" content="Marmar-is" />

  <!-- Font -->
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Roboto:300,400,700', 'data-turbolinks-track' => true %>
</head>
<body>
  <div id="overlay-ajax"></div>
  <div id="loading-ajax"></div>

  <div class="app layout-fixed-header layout-fixed-footer">
    <%= render partial: 'layouts/nav' %>

    <div class="main-panel">
      <%= render partial: 'layouts/header' %>
      <!-- main area -->
      <div class="main-content">

        <!-- Notice && Alert -->
        <div id="notice-alert" class="text-center" style="color:#000;">
          <%- if flash[:notice] %>
            <p class="alert">
              <%= link_to "x", "#", data:{dismiss:'alert'}, class:'close' %>
              <%= flash[:notice] %>
            </p>
            <% end -%>
            <%- if flash[:alert] %>
            <p class="alert">
              <%= link_to "x", "#", data:{dismiss:'alert'}, class:'close' %>
              <%= flash[:alert] %>
            </p>
          <% end -%>
        </div>

        <!-- /Notice && Alert -->

        <%= yield %>
      </div>
      <!-- /main area -->
    </div>

    <%= render partial: 'layouts/footer' %>
  </div>

  <%= javascript_include_tag 'bootstrap/js/bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.easing/jquery.easing.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'perfect-scrollbar/js/perfect-scrollbar.jquery.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'accordion', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'animate', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'link-transition', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'panel-controls', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'preloader', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'toggle', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'urban-constants', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'lib', 'data-turbolinks-track' => true %>

  <%= yield :js_includes %>

</body>

<div>
  <%= debug(params) if Rails.env.development? %>
</div>

</html>
